<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}FFRK{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/slate/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url('static', filepath='css/base.min.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="{{ url('static', filepath='js/moment-timezone-with-data-2010-2020.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.3.1/moment-timezone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js"></script>
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <div id="alert-container">
      <div id="getError" class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Unable to get data from server.
      </div>
      <div id="getInfo" class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>{% block info_alert %}{% endblock info_alert %}
      </div>
    </div> <!-- /#alert-container -->

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ url('home') }}" class="navbar-brand">Home</a>
          {#
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url('home') }}">Home</a></li>
                <li><a href="a">a</a></li>
                <li><a href="b">b</a></li>
              </ul>
          </ul>#}
        </div> <!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% for c in ('characters', ) %}
            <li>
              <a href="{{ url(c) }}" class="text-uppercase">{{ c }}</a>
            </li>
            {% endfor %}
            {% for c in ('relics', ) %}
            <li>
              <a href="{{ url('home') }}?category={{ c }}" class="text-uppercase">{{ c }}</a>
            </li>
            {% endfor %}
            <li class="dropdown">
              <a href="#" class="text-uppercase dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">abilities<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url('home') }}?category=abilities" class="text-capitalize">abilities</a></li>
                <li><a href="{{ url('home') }}?category=materials" class="text-capitalize">materials</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="text-uppercase dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">dungeons<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url('home') }}?category=worlds">World & Event listing</a></li>
                {% for c in ('enemies', 'quests') %}
                <li>
                  <a href="{{ url('home') }}?category={{ c }}" class="text-capitalize">{{ c }}</a>
                </li>
                {% endfor %}
                <li class="divider"></li>
                {% for date in get_content_dates() %}
                {% if loop.first %}
                <li><a href="{{ url('dungeons') }}?content={{ loop.index }}">All dungeons (since {{ date.strftime('%b %d, %Y') }})</a></li>
                {% else %}
                <li><a href="{{ url('dungeons') }}?content={{ loop.index }}">Dungeons added since {{ date.strftime('%b %d, %Y') }}</a></li>
                {% endif %}
                {% endfor %}
                <li class="divider"></li>
                {% for event in get_active_events() %}
                <li><a href="{{ url('dungeons') }}?world_id={{ event.id }}">{{ event.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="text-uppercase dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Extra<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url('calc') }}" class="text-capitalize">Damage Calculator</a></li>
                <li><a href="{{ url('home') }}?category=log" class="text-capitalize">Log</a></li>
              </ul>
            </li>
          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container-fluid -->
    </nav> <!-- /.navbar-static-top -->
    <div id="main-container" class="container-fluid">
      {% block content %}{% endblock content %}
    </div> <!-- /#main-container -->
    <nav class="navbar navbar-default navbar-static-bottom">
      <div class="container-fluid">
        <a href="http://glyphicons.com/" class="text-capitalize navbar-text navbar-right navbar-link">Glyphicons</a>
      </div> <!-- /.container-fluid -->
    </nav> <!-- /.navbar-static-bottom -->
    <script src="{{ url('static', filepath='js/base.min.js') }}"></script>
    {% block extra_body %}{% endblock extra_body %}
    <script type="text/javascript">
      {% block extra_javascript %}{% endblock extra_javascript %}
      // Alerts
      $('.alert .close').on('click', function(e) {
        //$(this).parent().hide();
      });
      $('#getError').hide();
      $('#getInfo').hide();
    </script>
  </body>
</html>
